# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Dependency directories
vendor/

# Go workspace file
go.work

# Docker data (om vi sparar db-filer lokalt senare)
pgdata/

# IDE files
.vscode/
.idea/